body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  .main {
  min-height: 490px;
}

}



/* ------------------- Footer ------------------- */

.full {
    width: 100%;  
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
footer .fa-instagram {
  width:150px;
  border-radius: 5px;
  text-align: center;
  color: white;
  height: 30px;
  margin-top:5px;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
  color: #78828D
}
.footer h3 a {
  color: #54697E;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em; 
}
/*----------------------*/

.og-price {
	color:red;
	text-decoration:line-through;
}

.fa-navbar-cart {
	font-size: 18px;
  vertical-align: middle;
}

.bot {
  padding: 12px 25px 12px 20px;
}
.container-alert-flash {
  position: fixed;
  top:20px;
  z-index: 50000;
  display:none;
}



/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}


/* ------------------- Product search/filter ------------------- */
.search {
  padding: 10px;
}

#sidebar-wrapper {
  margin-left: -250px;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #EDEDED;
  padding-bottom: 40px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 10000;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
}

#menu-toggle {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 100000;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .advanced-search{
    display:none;
  }
}

/* ------------------- Category thumbnail ------------------- */

.catbox {
  border:1px solid #dadada;
  background-color:#ffffff;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;

  padding-bottom: 20px;
  padding-left: 20px;
  margin-right: 10px;
  border-radius: 15px;
}

/* ------------------- Product thumbnail ------------------- */

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  padding-top: 10px;
  font-weight:bold;
  font-size:1.2em;
}


/* ------------------- Regitration/Login/Reset forms ------------------- */

.face-nav-p {
  display: inline;
  vertical-align: middle;
}
.face-nav-fa {
  vertical-align: middle;
}
.form-container {
    padding: 25px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

#payment-form {
  background-color: white;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

@media screen and (max-width: 992px) {

  .pad {
    padding-top: 10px;
  }

}

.all-pad {
  padding-top: 10px; 
}

/* ------------------- Cart/Order Tables ------------------- */

.invoice-title h2, .invoice-title h5 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}


/* ------------------- Blog style ------------------- */
.comment-reply {
    display:none;
}
.blog-detail {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.blog-detail > .post-detail-item {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow:0 1px 0px #cfcfcf;
}

.blog-detail > h1 {
  display: inline;
}
.read-time {
  display: inline-block;
}

.social {
  overflow: auto;
  padding-left: 0px;
}

.social li {
  list-style-type: none;
  float: left;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.9) rotate(360deg);
  -webkit-transform: scale(1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

.social li a i {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

.fa-facebook {
  background:#3b5998
} 
.fa-instagram {
  background:#8a3ab9
}
.fa-twitter {
  background:#00aced
}
.fa-google-plus {
  background:#dd4b39
}

.fa-pinterest-p {
  background: #cb2027;
}

.fa-reddit {
  background: #ff4500;
}
.fa-envelope {
  background-color: #FFC90E
}
/* ------------------- product detail ------------------- */

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 10px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; 
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; 
}


@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-title, #price, {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .product-description, #price {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }




@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


/* ------------------- social stuff ------------------- */

@media screen and (max-width: 768px) {
  #product-share {
    display:none;
  }
}

@media screen and (min-width: 768px) {
  #socialHolder {
    display:none; 
  } 
}

#socialHolder {
  position: fixed;
  right: 0;
  bottom:200px;
  z-index: 100000000;
}


.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    float: right;
    margin: 18px 0 0 0;
}

#socialHolder ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 6px;
    padding: 0;
}

.share {
    min-width: 17px;
}

#socialHolder li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
    margin-right: 4px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-reddit {
    background-color: #ff4500 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-reddit i {
    margin-left: -4px;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    max-width:200px;
    margin-bottom:18px;
}
/*
#socialShare > a{
    padding: 6px 10px 6px 10px;
}*/

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }
    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }
}

/*footer colors*/

.footer h3 {
  border-bottom: 1px solid #084b53;
  color: #084b53;
}
.footer ul {
  color: #084b53;
}
.footer ul li a {
  color: #084b53
}
.footer h3 a {
  color: #084b53;
}

.footer-bottom {
  background: #084b53;
  border-top: 1px solid #084b53;
  color:#84a5a9;
}



.margin-auto {
  width: 17em;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}



/*#complete{
   display:none;
}*/