{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}



<div class="container form-container">
    <div class="row">
        <div class="col-md-offset-3 col-md-5">
            <div class="form-login">
            <h4>Create Shipping Address</h4>
            	<form method='POST'  action=''>{% csrf_token %}
	            	{{ form|crispy }}
					<div id="co" class="form-group">
						<label class="form-control-label">Select Country</label>
						<select id="countries_states1" class="form-control bfh-countries" data-country="US"></select>
					</div>
					<div id="st" class="form-group has-danger">
						<label class="form-control-label control-label">Select State/Province/Region</label>
						<select class="form-control bfh-states" data-country="countries_states1"></select>
					</div>

					<input class="btn btn-primary" type="submit" value="Next" />
				</form>
			</div>
        </div>
    </div>
</div>

{% endblock %}

<script>
{% block jquery %}
	$('input[type="submit"]').click(function(event){
		country = $('#countries_states1').val()
		state = $('.bfh-states').val()
		$('input[name="country"]').val(country);
		
		$('input[name="state"]').val(state);
		console.log(country)
		console.log(state)
		if(!state || !country) {
			event.preventDefault();
			$('#st').addClass('has-error')
		}
		if(!country) {
			event.preventDefault();
			$('#co').addClass('has-error')
		}
	});
{% endblock %}
</script>