{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}SPH Gear{% endblock %}</title>
    {{ form.media }}
    {% include 'head_css.html' %}

    <style>
    {% block style %}{% endblock %}
    </style>



  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1216854158373143";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% include 'navbar.html' %}

    <div class='container'>
      <div class='alert alert-warning'>
          <p>This is a test site</p>
      </div>
    </div>

    {% for message in messages %}
    <div class='container'>
      <div class='alert alert-{{ message.tags }} alert-dismissible'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% if 'safe' in message.tags %}
            <p>{{ message|safe }}</p>
          {% else %}
            <p>{{ message }}</p>
          {% endif %}
      </div>
    </div>
    {% endfor %}

    {% block jumbotron %}{% endblock %}

    <div class="container main">     
      {% block content %}
      {% endblock %} 
    </div> <!-- /container -->
  <br>

  {% include "footer.html" %}
  {% include "javascript.html" %}

    
    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });

    </script>
    
  </body>
</html>
















