
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Order Summary</h2>
    			{% if order.status != 'created' %}
				<h5 class="text-muted">Status: <em style="color:red">{{ order.status }}</em></h5>
				{% endif %}
    			{% if order.order_id %}<h3 class="pull-right"># {{ order.order_id }} </h3>{% endif %}
    			
    		</div>
    		
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Shipping To:</strong><br>
    					{% if order.user.user%}{{order.user.user}} | {% endif %}{{order.user}}<br>
    					{{ order.shipping_address.street }}<br>
    					{{ order.shipping_address.city }}, {{ order.shipping_address.state }}, 
    					{{ order.shipping_address.country }}<br>
    					{{ order.shipping_address.zipcode }}
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
                                    <td></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							{% for item in order.cart.cartitem_set.all %}
                                <tr id='item-{{ item.item.id }}'>
                                    <td>{{ item.item.get_title }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td></td>
                                    <td class="text-right" id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
                                </tr>
                                {% endfor %}
                               
    							<tr>
    								<td class="thick-line"></td>
                                    <td class="thick-line"></td>
    								<td class="thick-line text-right"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">${{ order.cart.total }}</td>
    							</tr>

                                {% if order.coupon %}
                                    <tr>
                                        <td class="no-line"></td>
                                        <!-- <td class="no-line"></td> -->
                                        <td class="no-line"></td>
                                        <td class="no-line text-right" style="color: red"><strong>Coupon Used</strong></td> 
                                        <td class="no-line text-right" style="color: red">{{ order.coupon.name }}</td>
                                    </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <!-- <td class="no-line"></td> -->
                                            {% if order.coupon.status != 'free shipping'%}
                                            <td class="no-line"></td>
                                            <td class="no-line text-right"><strong>Shipping</strong></td>
                                            <td class="no-line text-right">${{ order.shipping_price }}</td>

                                            {% else %}
                                            <td></td>
                                            <td class="no-line text-right" style="color: red"><strong>Shipping</strong></td>
                                            <td class="no-line text-right" style="color: red">$0.00</td>
                                            {% endif %}
                                        </tr>

                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-right" style="color: red"><strong>Total</strong></td>
                                            <td class="no-line text-right"> 
                                                <em style="color: red">
                                                {% if order.coupon.status == '%' %}
                                                    ({{order.coupon.discount_value}}% off) 
                                                {% elif order.coupon.status == '$' %}
                                                    ( ${{ order.coupon.discount_value }} off )
                                                {% endif %}
                                                </em>
                                                ${{ order.order_total }}
                                            </td>
                                        </tr>
                                    {% else %}
                                
    							<tr>
    								<td class="no-line"></td>
    								<!-- <td class="no-line"></td> -->
                                    <td class="no-line"></td>
    								<td class="no-line text-right"><strong>Shipping</strong></td>
    								<td class="no-line text-right">${{ order.shipping_price }}</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
                                    <td  class="no-line"></td>
    								<td class="no-line text-right"><strong>Total</strong></td>
    								<td class="no-line text-right">${{ order.order_total }}</td>
    							</tr>
                                {%endif%}
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
