<div class="row">
<h3>Order {% if order.order_id %}# {{ order.order_id }}{% endif %} Summary</h3>

{% if order.status != 'created' %}
<h3>Order Status <em style="color:red">{{ order.status }}</em></h3>
{% endif %}

{% if order.shipping_carrier %}
	<h3>Shipped using {{ order.shipping_carrier.name }}</h3>
	{% if order.shipping_carrier %}
		<a href="{{order.shipping_carrier.link}}">Tack Package here</a>
	{% endif %}
{% endif %}

{% if order.status == "shipped" and order.tracking_number %}
	<h4>Tracking number: {{ order.tracking_number }}</h4>
{% endif %}
<br>


<table class='table'>
<tr><td>{{ order.cart.total_item }} Item(s): <br/>{% for i in order.cart.cartitem_set.all %}
<b>Quantity: {{ i.quantity }} {{ i.item.get_title }}</b><br/>
{% endfor %}</td></tr>
<tr><td>Cart Subtotal: {{ order.cart.subtotal }}</td></tr>
<tr><td>Tax: {{ order.cart.tax_total }}</td></tr>
<tr><td>Cart Total: {{ order.cart.total }}</td></tr>

{% if order.coupon %}
<tr><td style="color: red">Coupon Used: {{ order.coupon.name }}</td></tr>
	{% if order.coupon.status != 'free shipping'%}
		<tr><td>Shipping: {{ order.shipping_price }}</td></tr>
	{% else %}
		<tr><td style="color: red">Shipping: $ 0.00 (coupon applied)</td></tr>
	{% endif %}

	<tr><td>Order Total: {{ order.order_total }} 
		<em style="color: red">
		{% if order.coupon.status == '%' %}
			({{order.coupon.discount_value}}% off) 
		{% elif order.coupon.status == '$' %}
			( ${{ order.coupon.discount_value }} off )
		{% endif %}
		</em>
	</td></tr>
{% else %}

<tr><td>Shipping: {{ order.shipping_price }}</td></tr>

<tr><td>Order Total: {{ order.order_total }}</td></tr>

{% endif %}

</table>
<table class="table table-bordered">
  <th colspan="3">Outer Table</th>
  <tr>
    <td>This is row one, column 1</td>
    <td>This is row one, column 2</td>
    <td>
     <table class="table table-bordered">
       <th colspan="3">Inner Table</th>
       <tr>
         <td>This is row one, column 1</td>
         <td>This is row one, column 2</td>
         <td>This is row one, column 3</td>
       </tr>
     </table>
    </td>
  </tr>
</table>
</div>

<p><b>Shipping to</b>
<br/>
{{ order.shipping_address.get_address }}
</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Order Summary</h2>
    			{% if order.status == 'created' %}
				<h5 class="text-muted">Status: <em style="color:red">{{ order.status }}</em></h5>
				{% endif %}
    			{% if order.order_id %}<h3 class="pull-right"># {{ order.order_id }} </h3>{% endif %}
    			
    		</div>
    		
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					{% if order.user.user%}{{order.user.user}} | {% endif %}{{order.user}}<br>
    					{{ order.shipping_address.street }}<br>
    					{{ order.shipping_address.city }}, {{ order.shipping_address.state }}, 
    					{{ order.shipping_address.country }}<br>
    					{{ order.shipping_address.zipcode }}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					Jane Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Payment Method:</strong><br>
    					Visa ending **** 4242<br>
    					jsmith@email.com
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					March 7, 2014<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>BS-200</td>
    								<td class="text-center">$10.99</td>
    								<td class="text-center">1</td>
    								<td class="text-right">$10.99</td>
    							</tr>
                                <tr>
        							<td>BS-400</td>
    								<td class="text-center">$20.00</td>
    								<td class="text-center">3</td>
    								<td class="text-right">$60.00</td>
    							</tr>
                                <tr>
            						<td>BS-1000</td>
    								<td class="text-center">$600.00</td>
    								<td class="text-center">1</td>
    								<td class="text-right">$600.00</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">$670.99</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Shipping</strong></td>
    								<td class="no-line text-right">$15</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">$685.99</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>