{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container form-container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="form-login">
              <h4>Sign In</h4>
              <form action="{% url 'account_login' %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <input type="hidden" name="next" value="{{ request.get_full_path }}" />
              <button type="submit" class="btn btn-primary btn-block">login <i class="fa fa-sign-in fa-2x face-nav-fa"></i></button>
              <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="js_sdk" %}"><i class="fa fa-facebook-square fa-2x face-nav-fa" aria-hidden="true"></i> <p class="face-nav-p">login with facebook</p></a>
              <br>
              <a  href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              <br>
              <p>Dont have an account?<a href="{% url 'account_signup' %}"> Sign Up Here!</a></p>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

