{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="container form-container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="form-login">
              <h4>Password Reset</h4>
              <form action="{% url 'account_reset_password' %}" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit"  value="{% trans 'reset my password' %}" class="btn btn-primary btn-block">
              <br>
              <small class="text-muted">To reset your password, submit your email address. Please contact us if you have any trouble resetting your password. <br><a href="{{ login_url }}">sign in</a> | <a href="{% url 'account_signup' %}"> sign up</a></small>

              </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
