{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class='col-xs-2'>
<div class="advanced-search">
	<form method="GET" action="{% url 'products' %}">
	{{ filter_form|crispy }}
	<!-- <input type='hidden' name='q' value='{{ request.GET.q }}' /> -->
	<hr>
	<input type='submit' value='Apply Filter' class='btn btn-primary btn-block'>

	</form>
	<br>
	<a class="btn btn-primary btn-block" href="{% url 'products' %}">Clear Filters</a>
	</div>
</div>

<div class='col-sm-10 col-xs-12'>

<h1>Products <small><a href='{% url "categories" %}'>(view Categories)</a></small></h1>

{% if object_list.count == 0 %}

Nothing found

{% else %}
{% for product in object_list %}   
		{% include "products/product_thumbnail.html" with product=product price="True" %}
    {% endfor %}
{% endif %}

</div>

<a id="menu-toggle" href="#" class="btn btn-success btn-lg toggle"><i class="fa fa-search" aria-hidden="true"></i> 
Add/Remove Filters</a>
<div id="sidebar-wrapper">
    <div class="search">
		<form method="GET" action="{% url 'products' %}">
		{{ filter_form|crispy }}
		<hr>
		<input type='submit' value='Apply Filter' class='btn btn-primary btn-block btn-lg'>

		</form>
		<br>
		<a class="btn btn-danger btn-block btn-lg" href="{% url 'products' %}">Clear Filters</a>
		</div>
	</div>
</div>

{% endblock %}


<script>
	{% block jquery%}
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
		$("#menu-toggle i").toggleClass("fa fa-search", "fa fa-search")
		$("#menu-toggle i").toggleClass("fa fa-times", "fa fa-times")
	});	
	{% endblock %}
</script>

