{% extends "base.html" %}

{% block content %}
<div class="container-fliud">
	<div class="wrapper row">
	{% if images %}
	<div class="col-sm-6">
		<div class="preview form-login">
			<div class="preview-pic tab-content">
			  {% for img in images %}
			  <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="pic-{{forloop.counter}}">
			  	<img class="img-responsive img-rounded" src="{{img.image.url}}" />
			  </div>
			  {% endfor %}
			</div>

			<ul class="preview-thumbnail nav nav-tabs">
			  {% for img in images %}
			  <li class="{% if forloop.counter == 1 %}active{% endif %}" id="thumbnail-{{forloop.counter}}">
			    <a data-target="#pic-{{forloop.counter}}" data-toggle="tab">
			      <img class="img-responsive img-rounded" src="{{img.image.url}}" />
			    </a>
			  </li>
			  {% endfor %}
			</ul>
		</div>
		<br>
		<div id="product-share" class="form-login">
          <h4><i class="fa fa-share-alt"></i> Share this product</h4>
          <ul class="social margin-auto">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}."><i class="fa fa-reddit"></i></a></li>
            <li><a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}/"><i class="fa fa-google-plus"></i> </a></li>
            <li><a href="http://www.pinterest.com/pin/create/button/"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="mailto:?subject=look at this {{object.title}}&body= Check it out at {{ request.build_absolute_uri }}">
				<i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
		</div>
		{% endif %}

		<div class="details col-sm-6">
			<div class="form-login">
			<h3 class="product-title">{{ object.title }}</h3>
			<p class="product-description content-markdown">{{ object.description }}</p>
			<form id='add-cart-form' class="form-horizontal" method='GET' action="{% url 'cart' %}">
				<p id='jquery-message' class='lead'></p>
				<h4 id='price' class="price">Price: ${{ object.variation_set.first.price }}</h4>
					<div class="form-group">
						<div class="col-sm-2 control-label">Size</div>
						<div class="col-sm-10">
							<select name='size' class='form-control size-select'>
								{% for size in sizes %}
								<option  data-size="{{ size.size }}" value="{{size.size}}">
									{{ size.size }} 
								</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">Color</div>
						<div class="col-sm-10">
							<select name='color' class='form-control color-select'>
								{% for color in colors %}
									<option  data-color="{{color.color}}" value="{{color.color}}">
										{{ color.color }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">Quantity</div>
						<div class="col-sm-10">
							<input class='form-control' type='number' name='qty' id='qty' value='1' />
						</div>
					</div>
					<input id='cart-btn' type='submit' value='Add to Cart' class='btn btn-primary btn-lg' />
				</form>
				</div>
				
		</div>
	</div>

	{% if request.user.is_staff %}
		<br>
		<a href="{% url 'product_inventory' pk=object.pk %}" class="btn btn-lg btn-danger">View inventory</a>
	{% endif %}
</div>
<br>
{% include "socialHolder.html" %}


{% endblock %}



<script>
{% block jquery %}


// function setPrice(){
// 	var price = $(".variation_select option:selected").attr("data-price")

// 	var sale_price = $(".variation_select option:selected").attr("data-sale-price")
// 	if (sale_price != "" && sale_price != "None" && sale_price != null ) {
// 	$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
// 	} else {
// 	$("#price").html(price);
// 	}
// }
// setPrice()

// $(".variation_select").change(function(){
// 	setPrice()
// 	// var img = $(".variation_select option:selected").attr("data-img")
// 	// $("img").attr("src", img);
// })



function setPrice(){
	var color = $(".color-select option:selected").attr("data-color")
	var size = $(".size-select option:selected").attr("data-size")
	var sale_price;
	var id;
	var price;
	var check = false;
	{% for vari_obj in object.variation_set.all %}
	  if (size == '{{vari_obj.size|safe}}' && color == '{{vari_obj.color|safe}}') {
    		sale_price = '{{vari_obj.sale_price}}'
    		price = '{{vari_obj.price}}'
    		console.log('{{vari_obj.inventory}}')
    		if('{{vari_obj.inventory}}' != 'None'){
    			if({{vari_obj.inventory}} >= 1) {
        			check = true
    			}
    		}
		}	
	{% endfor %}
	if(check == true) {
		if (sale_price != "" && sale_price != "None" && sale_price != null ) {
			$("#price").html("Price: $" + sale_price + " <small class='og-price'>" + price  + "</small>");
		} else {
			$("#price").html("Price: $" + price);
		}
		$("#cart-btn[type=submit]").removeAttr('disabled');
	} else {
		$("#price").html("<small>Not in stock</small>")
		$("input[type=submit]").attr('disabled','disabled');
	}
	
}
setPrice()

$(".color-select").change(function(){
	setPrice()
})

$(".size-select").change(function(){
	setPrice()
})



// ajax add to cart

// $("#submit-btn").click(function(event){
// 	event.preventDefault();
// 	var formData = $("#add-form").serialize();
// 	console.log(formData);
// 	$.ajax({
// 		type: "GET", // "POST"
// 		url: "{% url 'cart' %}",
// 		data: formData,
// 		success: function(data) {
// 			showFlashMessage(data.flash_message);
// 			updateCartItemCount();
// 		}, 
// 		error: function(response, error) {
// 			// console.log(response)
// 			// console.log(error)
// 			$("#add-form").submit()
// 		}
// 	})
// })

function getId(){
	var color = $(".color-select option:selected").attr("data-color")
	var size = $(".size-select option:selected").attr("data-size")
	var sale_price;
	var price; 
	var id;
	{% for vari_obj in object.variation_set.all %}
	  if (size == '{{vari_obj.size|safe}}' && color == '{{vari_obj.color|safe}}') {
    		sale_price = '{{vari_obj.sale_price}}'
    		price = '{{vari_obj.price}}'
    		id = '{{vari_obj.id}}'
		}	
	{% endfor %}
	return id
}

$("#cart-btn").click(function(event){
	event.preventDefault();

	var values = {};
	$.each($("#add-cart-form").serializeArray(), function(i, field) {
    	values[field.name] = field.value;
	});
	var formData = 'item='+getId()+'&'+'qty='+values['qty']
	console.log(formData); 
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: formData,
		success: function(data) {
			showFlashMessage(data.flash_message);
			updateCartItemCount();
		}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-cart-form").submit()
		}
	})
})

{% for img in images %}
$("#thumbnail-{{forloop.counter}}").click(function(event){
	event.preventDefault();
	$(".color-select").val("{{img.product_var.color}}");
	$(".size-select").val("{{img.product_var.size}}");
	setPrice()
})

{% endfor %}

$(".content-markdown").each(function(){
      var content = $(this).text()
      var markedContent = marked(content)
      $(this).html(markedContent)
  })
  $(".post-detail-item img").each(function(){
      $(this).addClass("img-responsive");
  })

  $(".comment-btn").click(function(event){
      event.preventDefault();
      $(this).parent().next(".comment-reply").fadeToggle();
  })
{% endblock %}
</script>
