{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

{% load account socialaccount %}
{% if not user_can_continue %}

<div class="container form-container">
  <div class="row">
   	<div class="col-md-offset-1 col-md-5">
      <div class="form-login">
      	<h4>Continue as Guest</h4>
      	<form method='POST' action=''>{% csrf_token %}
				{{ form|crispy }}
				<input type='submit' class='btn btn-primary' value='Continue as Guest' />
				</form>
      </div>
    </div>

    <div class="col-md-5 pad">
        <div class="form-login">
					<h4>Login to Continue</h4>
					<form action="{% url 'account_login' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="">Username or e-mail*</label>
							<input type="text" class="form-control" name="login">
							</div>
							<div class="form-group">
							<label for="">Password*</label>
							<input type="password" class="form-control" name="password">
						</div>
						
						{% if redirect_field_value %}
            	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            <button type="submit" class="btn btn-primary">login <i class="fa fa-sign-in fa-2x face-nav-fa"></i></button>
            <a class="btn btn-primary" href="{% provider_login_url "facebook" method="js_sdk" %}"><i class="fa fa-facebook-square fa-2x face-nav-fa" aria-hidden="true"></i> <p class="face-nav-p">login with facebook</p></a>
            <br>
            <br>
            <a  href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            
            Dont have an account?<a href="{% url 'account_signup' %}"> Sign Up Here!</a>
					</form>
        </div>
    </div>
  </div>
</div>
{% else %}

{% include "orders/order_summary_short.html" with order=order %}
<hr>
  
<div class="container form-container">
    <div class="row">
      <div class="col-md-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-login">
                <h4>Is this shipping address correct?</h4>
                <address>
                <strong>Shipping To:</strong><br>
                  {{ order.shipping_address.street }}<br>
                  {{ order.shipping_address.city }}, {{ order.shipping_address.state }}, 
                  {{ order.shipping_address.country }}<br>
                  {{ order.shipping_address.zipcode }}
                </address>
                <a class="btn btn-primary" href='{% url "order_address" %}'>Change an Address</a>
              </div>
            </div>

            <div class="col-xs-12 all-pad">
                <div class="form-login">
                  <h4>Got a Promo Code?</h4>
                  <form method="POST" action=''>{% csrf_token %}
                {{ coupon_form|crispy }}
                  <input class="btn btn-primary" type="submit" value="Submit" name='_coupon' {% if order.coupon %}disabled{% endif %}/>
                  <input class="btn btn-danger" type="submit" value="Remove" name='_remove' />
                </form>
                </div>
            </div>
          </div>
      </div>
        
      <div class="col-md-6 pad">
          <div class="form-login">
            <h4>Pay by card or PayPal</h4>
            	<form id="checkout" method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
          			<div id="payment-form"></div>
          			<br>
          			<button id="complete" class="btn btn-success btn-lg btn-block disabled" type='submit'>Complete Order of ${{ order.order_total }}</button>
                <input class="btn btn-danger btn-block disabled" type="submit" value="Remove Payment Method" name='_remove' id="Remove" />
                <input type="hidden" name="clicked_button" id="clicked_button" value=""/>

          		  
                </form>
                

          </div>
      </div>     
    </div>
</div>

{% endif %}

{% endblock %}



<script>
{% block jquery %}
var clientToken = "{{ client_token }}";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
var checkExist = setInterval(function() {
   if (($("#payment-form").children().length > 0) && (typeof window.braintree !== 'undefined') ) {
      $("#complete").removeClass("disabled");
   }
}, 600);

$("#Remove").click(function() {
    document.getElementById('clicked_button').value = $("#Remove").attr("name");
    console.log($("#Remove"))
    console.log($("#Remove").value)
    console.log($("#Remove").name)
})

{% endblock %}
</script>